<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

   <!-- <data-source>
        <name>jdbc/dentalclinicdb</name>
        <class-name>com.mysql.jdbc.Driver</class-name>
        <url>jdbc:mysql://mysql-ivadent.jelastic.neohost.net/dentalclinicdb</url>
        <user>root</user>
        <password>M66qDqH2Db</password>
        <transactional>true</transactional>
    </data-source>-->

    <data-source>
        <name>jdbc/dentalclinicdb</name>
        <class-name>com.mysql.jdbc.Driver</class-name>
        <url>jdbc:mysql://localhost:3306/dentalclinicdb?characterEncoding=utf8&amp;characterSetResults=utf8</url>
        <user>root</user>
        <password>Gosha777</password>
        <transactional>true</transactional>
        <isolation-level>TRANSACTION_READ_COMMITTED</isolation-level>
    </data-source>

    <display-name>DentalClinic</display-name>

    <welcome-file-list>
        <welcome-file>/admin/index.jsp</welcome-file>
    </welcome-file-list>

    <!--                Security                    -->
   <!-- <security-role>
        <description>Admin security role</description>
        <role-name>admin</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>

        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>JDBCRealm</realm-name>
        <form-login-config>
            <form-login-page>/login/login.html</form-login-page>
            <form-error-page>/login/login-failed.html</form-error-page>
        </form-login-config>
    </login-config>
-->
    <!--                Security End                    -->

    <servlet>
        <servlet-name>priceManagerServlet</servlet-name>
        <servlet-class>ua.com.dentalclinic.treatment.PriceManagerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>loadPriceServlet</servlet-name>
        <servlet-class>ua.com.dentalclinic.treatment.LoadPriceServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>staffManagerServlet</servlet-name>
        <servlet-class>ua.com.dentalclinic.staff.StaffServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>priceManagerServlet</servlet-name>
        <url-pattern>/admin/servlet/priceServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>loadPriceServlet</servlet-name>
        <url-pattern>/client/servlet/priceServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>staffManagerServlet</servlet-name>
        <url-pattern>/admin/servlet/staffServlet</url-pattern>
    </servlet-mapping>


</web-app>

