
section{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -11em;
    padding: 1ex 1em;
    width: 22em;
    color: #182d46;
    background: #FFF;
    border: 3px solid blue;
}

h1{
     position:relative;
    left:3em;
}

form{
    float:left;
    padding-left: 2em;
}

label{
	float:left;
    width: 6em;
	text-align: right;
}

input{
	margin-left: 1em;
	margin-bottom: .5em
}

label#errorLabel{
    color: #FF0000;
    width: 19em;
    padding-left: 1em;
    padding-bottom: 1em;
}

